Краткое введение в Gnuplot.pdf
gnuplot.pdf
wget.exe
*.txt
FAQ.pdf
old/*
Logs/*
today4Hour 0_5 minPython.plt
today4Hour 2 min.plt
today4Hour 6 min.plt
today4Hour 30cOne.plt
multiplot_four_day24Hour2.plt
Demo/*
Works/*